<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.knime.workbench.repository.categories">
		<category
			description="Category containing arx nodes"
			icon="icons/arx.png"
			level-id="arxNodes"
			name="Arx"
			path="/"/>
	</extension>
   
	<extension
		point="org.knime.workbench.repository.nodes">
		<node
			category-path="arxNodes/"
			factory-class="se.redfield.arxnode.nodes.AnonymizerNodeFactory"/>
		<node
			category-path="arxNodes/"
			factory-class="se.redfield.arxnode.nodes.HierarchyExpandNodeFactory"/>
		<node
			category-path="arxNodes/"
        	factory-class="se.redfield.arxnode.nodes.HierarchyCreateNodeFactory">
		</node>
		<node
			category-path="arxNodes/"
        	factory-class="se.redfield.arxnode.nodes.HierarchyWriterNodeFactory">
		</node>
		<node
			category-path="arxNodes/"
        	factory-class="se.redfield.arxnode.nodes.AnonymizerJsNodeFactory">
		</node>
	</extension>
	
	<extension
		point="org.knime.core.PortType">
		<portType
        	name="Arx Config"
        	color="#1eb9dc"
        	objectClass="se.redfield.arxnode.nodes.ArxPortObject"
        	objectSerializer="se.redfield.arxnode.nodes.ArxPortObject$Serializer"
        	specClass="se.redfield.arxnode.nodes.ArxPortObjectSpec"
        	specSerializer="se.redfield.arxnode.nodes.ArxPortObjectSpec$Serializer">
		</portType>
	</extension>
	
	<extension
	      point="org.knime.js.core.javascriptComponents">
    <javascriptComponent
          getComponentValue-method-name="getComponentValue"
          implementationBundleID="se.redfield.arxnode.nodes.anonymizer.bundle"
          init-method-name="init"
          javascriptComponentID="se.redfield.arxnode.nodes.anonymizer"
          name="Transformation View (JS)"
          namespace="se_redfield_arxnode_nodes_anonymizer"
          setValidationError-method-name="setValidationError"
          validate-method-name="validate">
    </javascriptComponent>
	</extension>
	
	<extension
	      point="org.knime.js.core.webResources">
	      <webResourceBundle
            debug="true"
            name="Transformation View (JS)"
            usesDefine="false"
            version="0.1.0"
            webResourceBundleID="se.redfield.arxnode.nodes.anonymizer.bundle">
         <webResource
               relativePathSource="js-src/se/redfield/arxnode/nodes/"
               relativePathTarget="se/redfield/arxnode/nodes/">
         </webResource>
         <importResource
               relativePath="se/redfield/arxnode/nodes/anonymizer.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="bootstrap_3.3.6">
         </webDependency>
      </webResourceBundle>
	</extension>
</plugin>
